<template>
  <div class="container artilces mt-3" >
    <h1  v-text="article.name"></h1>
    <hr>
    <show-article :text="article.text"></show-article>
  </div>
</template>

<script>
    import ShowArticle from "~/components/view/articleshow";
    export default {
        name: "index",
      components: {ShowArticle},
      data(){
        return{
          article:{}
        }
      },
      beforeMount() {
        let self=this;

        self.$axios.get(this.$url+'article/'+this.$route.params.url)
          .then(function (res) {
            self.article=res.data.data;
          });
      },
      head () {
        return {
          title: this.article.name,
          meta: [
            // hid is used as unique identifier. Do not use `vmid` for it as it will not work
            { hid: 'description', name: 'description', content:this.article.name },
            { hid: 'keywords', name: 'keywords', content:this.article.name },
          ]
        }
      }
    }
</script>

<style scoped>
.artilces *{
   text-align: right;
}
</style>
