<template>
<div>
  <firstpage :lang="'fa'"></firstpage>
</div>
</template>

<script>
    import Firstpage from "~/components/view/firstpage";
    export default {
        name: "index",
       layout:'firstpage',

      components: {Firstpage},
      beforeMount() {
        this.$i18n.locale = 'fa';
      }
    }
</script>

<style scoped>

</style>
