<template>
  <div class=" mt-3 mb-3 p-5">
    <iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=51.029884815216064%2C35.76714665753144%2C51.04342460632325%2C35.77492887568977&amp;layer=mapnik&amp;marker=35.77103786180268%2C51.03665471076965" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=35.77104&amp;mlon=51.03665#map=17/35.77104/51.03665&amp;layers=N">View Larger Map</a></small>

  <ul class="list-group list-group-flush text-right" :dir="$t('rtl')">
      <li class="text-bold"><strong><span class="icofont-location-pin"></span> <span v-text="$t('address')"></span>:</strong></li>
      <li v-text="setting.address"></li>
      <hr>
      <li class="text-bold"><strong><span class="icofont-phone"></span> <span v-text="$t('phone')"></span>:</strong></li>
      <li dir="ltr" v-text="setting.phone"></li>
      <hr>
      <li class="text-bold"><strong><span class="icofont-instagram"></span> <span v-text="$t('intagram')"></span>:</strong></li>
      <li  dir="ltr" v-text="setting.instagram"></li>
      <hr>
      <li class="text-bold"><strong><span class="icofont-whatsapp"></span> <span v-text="$t('whatsapp')"></span>:</strong></li>
      <li dir="ltr" v-text="setting.whatsapp"></li>
    </ul>
  </div>
</template>

<script>
    export default {
      name: "contactus",
      data() {
        return {
          setting: {},

        }
      },
      beforeMount() {
        let that = this;
        this.$i18n.locale = this.$route.params.lang;

        that.$axios.get(this.$url + 'contactus', {
          params: {
            lang: that.$i18n.locale
          }
        })
          .then(function (response) {
            that.setting = response.data;
          })
      },
      head () {
        return {
          title: 'IOG ',
          meta: [
            // hid is used as unique identifier. Do not use `vmid` for it as it will not work
            { hid: 'description', name: 'description', content:'IOG' },
            { hid: 'keywords', name: 'keywords', content:'IOG'},
          ]
        }
      }
    }
</script>

<style scoped>
.list-group li{list-style: none;}
</style>
